@import '../../../_variables.scss';

.primary-nav {
    background-color: white;
    box-shadow: 0 2px 3px -2px rgba(0,0,0,.2);
    width: 100%;
    

    .nav-inner {
        max-width: $container-lg;
        margin: 0 auto;
        display: flex;
        height: 55px;
        align-items: center;
        padding: 0 5px;
        justify-content: space-between;
    }
}

.navbar-profile {
    margin: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;

    img {
        max-height: 45px;
        display: block;
        width: auto;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
    }

    span {
        margin-right: 10px;
        font-weight: 500;
    }
    
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 16pt;
    color: $theme_primary;

    img {
        border-radius: 45px;
        margin: 0 10px;
        max-height: 40px;
        filter: invert(52%) sepia(87%) saturate(422%) hue-rotate(81deg) brightness(104%) contrast(82%);
    }
}

.nav-item {
    
    font-weight: 500;
}

.nav-signup {
    // margin-left: auto;
    display: flex;

    .login {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
    }

    .signup {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        background-color: $theme_interest;
        padding: 7px 9px;
    }
}