@import '../../_variables.scss';


.hero {
    background-color:  wheat;
    width: 100%;
    padding: 50px;
    h1 {
        color: teal;
        text-transform: capitalize;
        font-weight: bold;
    }
}