// TODO: put global theme variables here

$container-lg: 960px;
$container-md: 720px;
$container-sm: 540px;

$theme_primary: #34C554;
$theme_secondary:  #8ADCFF;
$theme_interest: #2cc0ff;

$theme_dark_grey: #A9A9A9;
$theme_grey: #D8D8D8;
$theme_light_grey: #F4F4F4;