@import '../../_variables.scss';


.jobpage {
    max-width: $container-lg;
}

.sticky-title {
    position: sticky;
    top: 60px;
    background-color: red;
}

.job-content {

    h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            flex-shrink: 0;
            padding-right: 1rem;
        }
        button {
            width: 14rem;
            margin: 0;
        }
    }


    @media only screen and (max-width: $container-sm) {
        &__title {
            h2 {
                display: block;
                text-align: center;
                
                span {
                    flex-shrink: 0;
                    padding-right: 1rem;
                }

                button {
                    display: block;
                    width: 100%;
                    margin-top: 2rem;
                }
            }
        }
    }
}

.job-quick-details {    

    ul {
        list-style: none;
        padding: 0;
        display: grid;
        font-weight: bold;
        grid-template-columns: auto auto auto;
        margin: 2rem 0;

        background-color: $theme_light_grey;
        border: 2px solid $theme_primary;
        border-radius: 20px;
        padding: 1.3rem;

        li {
            margin: 10px 0;
        }

        span {
            font-weight: normal;
        }
    }
}

.job-container {
    display: flex;
    padding-top: 4rem;
}

.related-jobs {
    width: 100%;
    height: 220px;
    background-color: $theme_light_grey;
    margin-top: 90px;
}