@import '../../_variables.scss';


.jobpage {
    max-width: $container-lg;
}

.sticky-title {

    display: flex;
    justify-content: space-between;

    margin-top: 5rem;

    button {
        width: auto;
        width: 170px;
    }
    


    @media only screen and (max-width: $container-sm) {
       
    }
}

.job-quick-details {   
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        font-weight: bold;
        grid-template-columns: auto auto auto;
        margin: 2rem 0;

        background-color: $theme_light_grey;
        border: 2px solid $theme_primary;
        border-radius: 20px;
        padding: 1.3rem;
        width: 100%;

        li {
            margin: 10px 0;
        }

        span {
            font-weight: normal;
        }
    }
}

.job-container {
    padding-top: 1rem;
    width: 100%;
}

.related-jobs {
    width: 100%;
    height: 220px;
    background-color: $theme_light_grey;
    margin-top: 90px;
}

.job-content__description {
    white-space: pre-line;
}