@import '../../_variables.scss';

.detailsBox{
    display: flex;
    flex-direction: row;

    margin: .5rem;
    padding: 1rem;
    align-content: center;
    align-items: center;
}

.detailsText{
    display:flex;
    flex-direction: column;

    margin: 1rem;
    padding: 1.5rem;
    align-items: flex-start;
    justify-content: space-around;
}

.title{
    font-size: x-large;
    font-weight: bold;
}

.subtitle{
    font-size: large;
    font-weight: bold;
}